<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Vagas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Bem-vindo ao Sistema de Vagas</h1>
    <nav>
        <ul>
            <li><a th:href="@{/user/dashboard}">Área do Usuário</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h2>Sobre o Sistema</h2>
        <p>Este sistema integra usuários, cursos, vagas e compatibilidades usando IoT e Spring AI.</p>
    </section>
</main>

<footer>
    <p>&copy; 2025 SkillBridg</p>
</footer>
</body>
</html>